body {
    background-color: gray; 
	max-width: 900px;
	margin: auto;
}

.photo {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

#title, .subtitle, .post_title {
	font-family: 'Oswald', sans-serif;
    color: black;
}

#title_logo {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;	
	padding: 15px;
}

#menu_topo {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	
}

.post_title {
    font-size: 16px;
    font-style: italic;
	margin: 0px;
	margin-bottom: 15px;
}

.post {
    background-color: white;
    padding: 15px;
	margin-bottom: 10px;
	border-radius: 10px;
	text-align: justify-content;
}

.post_content {
	margin: 0;
	margin-bottom: 15px;
	border-radius: 10px;
	
}

.post_image {
	margin: auto;
	margin-bottom: 15px;
	border-radius: 15px;
	width: 70%;
	
}

.lista_contatos {
	background-color: blue;
	margin: 0;
	margin-bottom: 15px;	
}
	
.lista_contatos li a{
	margin: 0 auto;
	text-decoration: none;
	color: white;
}
